<!DOCTYPE html>
<html>
    <head>
    <title>Registration page</title>
    </head>
    <body bgcolor="#ffffff">
        <table width="100%" border="0">
            <tr>
            <td colspan = "2" bgcolor = "#23394c">
            <img src="https://raw.githubusercontent.com/Fru404/Web/main/Week%203/static/sharda.avif" width="100" height="100" align="left">
                <h1 style="color:#ffffff">Sharda University</h1>
            </td>
        </tr>
        </table>
        
        <table width="70%" border="0" align="center">
        <caption><h1>Student's Registration Page </h1></caption>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <tr>
        <td><button onclick="getlocation()">Find Location</button>
             <p id="locdisplay"></p></td>
        </tr>
        <tr>
        <td>
        <font size="4">
        <form>
            <label>First Name</label><br>
            <input type="text" size="30"><br>
            <label>Middle Name</label><br>
            <input type="text" size="30"><br>
            <label>last Name</label><br>
            <input type="text" size="30"><br>
            <hr color="white">
            <label>Date Of Birth</label><br>
            <input type="date"><br>
            <label>Gender</label><br>
            <label>Male</label><input type="checkbox" size="30">
            <label>Female</label><input type="checkbox" size="30" ><br>
            <hr color="white">
            <label>Email Address</label><br>
            <input type="text" size="30"><br>
            
        </font>
        </form>
        </td>
        <td>
         <font size="4">
            <form>
            <label>Nationality</label><br>
            <input type="text" size="30"><br>
            <label>Father's Name</label><br>
            <input type="text" size="30"><br>
            <label>Mother's Name</label><br>
            <input type="text" size="30"><br>
            <label>Parent Contact Number</label><br>
            <input type="text" size="30"><br>
            <label>Parent Email Address</label><br>
            <input type="text" size="30"><br>
            <label>Home Address</label><br>
            <input type="text" size="30"><br>
            <label>PIN Code</label><br>
            <input type="text" size="30" maxlength="4"><br>
        </font>
        </form>
        </td>
        <td vertical-align="top">
         <form style="display:inline-block;">
         <div style="display:inline-block; vertical-align:top;">
          
         
         <select>
         <option value="">--Current Educational Certifications--</option>
         <option value="">High School Degree</option>
         <option value="">Under Graduate Degree</option>
         <option value="">Post Graduate Degree</option>
         <option value="">Working Experience</option> </div>
         
         </select><br>
            <label style="font-size:14px;">---If  Working Experience was Selected, do write Your Working Experiance---</label><br>
            <label>Working Experience</label><br>
            <input type="text" size="30" value='None'><br>
            <hr color="white">
            <label>Year Of Graduation</label><br>
            <input type="date" size="30"><br>
            <hr color="white">
            
          
            <select>
            <option value="">-- Select Discipline--</option>
            <option value="">Agriculture</option>
            <option value="">Allied Science</option>
            <option value="">Animation, VFX & Game Design</option>
            <option value="">Architecture</option> </div>
            <option value="">Arts</option> </div>
            <option value="">Basic Science</option> </div>
            <option value="">Commerce</option> </div>
            <option value="">Computer Application</option> </div>
            <option value="">Dental</option> </div>
            <option value="">Design</option> </div>
            <option value="">Economics</option> </div>
            <option value="">Education</option> </div>
            <option value="">Engineering</option> </div>
            <option value="">Food Science</option> </div>
            <option value="">Law</option> </div>
            <option value="">Management</option> </div>
            <option value="">Mass Communication</option> </div>
            <option value="">Medical</option> </div>
            <option value="">Nursing</option> </div>
            <option value="">Pharmacy</option> </div>
            <option value="">Visual Arts</option> </div>
            </select><br>

            <hr color="white" >
         </form>
           <div >
            <label>Upload PassPort size picture </label>
                <input type="file" id="myFile" />
                
                <input type="submit" value="Upload" />

            </div><br>
            <div >
            <label>Upload Certification</label><br>

                <input type="file"  />
                
                <input type="submit" value="Upload" />

            
        </td>
        
        
</tr>
</table>
 <div style='text-align:center;'>
  <button>Submit</button>
 </div>
  <script>
    var variable1 = document.getElementById("locdisplay");
    function getlocation() {
      navigator.geolocation.getCurrentPosition(showLoc);
    }
    function showLoc(pos) {
      variable1.innerHTML ="Latitude: " + pos.coords.latitude +"<br>Longitude: " + pos.coords.longitude;
    }
  </script>
    </body>
</html>